@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

main {
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f8712d;
}

.container {
    display: flex;
    width: 70%;
    height: 93vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);

}

.form-image {
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    border-radius: 50%;
    width: 21rem;
}

.form {
    display: flex;
    width: 77vw;
    border-radius: 6px;
    background-color: #ffdddd;
    padding: 3rem;
}

.form-header {
    display: flex;
    margin-bottom: 3rem;
}

.form-header h1::after {
    display: block;
    content: '';
    height: 0.3rem;
    width: 8rem;
    background-color: orange;
    margin: auto;
    position: absolute;
    border-radius: 10px;
}

.title {
    display: flex;
    margin-top: 15.8rem;
    margin-right: 5rem;
    font-size: 0.8rem;
}

.input-group {
    margin-top: 4rem;
    padding: 1rem 0;
    font-size: 1.5rem;
}

.input-box input {
    width: 90%;
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

button {
    width: 20%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffa500;
    font-size: 1rem;
    color: #1e1e1e;
    font-weight: 800px;
    margin: 20px 0 0 0;
}

button:hover {
    background-color: #f3a57e;
}

#checkbox {
    margin: 0.5rem;
}

/* In 1320px and below, the logo must disappear. */
@media screen and (max-width:1325px) {
    .form-image {
        display: none;
    }

    .container {
        width: 100vw;
        height: 100vh;
    }

    .form {
        width: 100vw;
        height: 100vh;
        margin-top: -50px;
    }

    .title {
        margin-top: 1.8rem;
        display: none;
    }
}

/* Mobile */
@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .container {
      width: 100vw;
    }

    label{
        margin-left: -15px;
        font-size: 1.3rem;
    }
    .input-group {
        margin-top: -1px;
    }

    .input-box input {
        width: 110%;
        margin-left: -15px;
    }
    .form {
        height: 80vh;
        margin-top: -50px;
    }

    #checkbox{
       font-size: 1rem;
       text-align: justify;
       margin: 10px 0 0 0;
    }

    a{
        word-spacing: -6px;
        margin-right: 55px;
    }
    button{
        margin: 7px 0 0 0;
        width: 100%;
    }
}