@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'sans-serif';
}
 main {
    justify-content: center;
    align-items: center;
 }
 
body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f8712d;
}

.container {
    display: flex;
    width: 80%;
    height: 80vh;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.212);
    
}

.form-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 31rem;  
}

.form {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.form-header h1::after {
    display: block;
    content: '';
    height: 0.3rem;
    width: 8rem;
    background-color: orange;
    margin: auto;
    position: absolute;
    border-radius: 10px;
}

.title {
    display: flex;
    margin-top: 5.6rem;
    margin-right: 5rem;
    font-size: 0.8rem;
    justify-content: space-between;
}

.input-group {
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

button {
    width: 50%;
    border: none;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffa500;
    font-size: 1rem;
    color: #1e1e1e;
    font-weight: 800px;
}

button:hover {
    background-color: #f3a57e;
}

@media screen and (max-width:1270px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1060px) {
        .container {
        width: 90%;
        height: auto;                
        }
        .input-group {
            flex-direction: column;
            overflow-y: scroll;
            flex-wrap: nowrap;
            max-height: 10rem;
            padding-right: 5rem;
            margin: 2rem;
        }
}